$text-color: black;
$line-color: #EF2853;
$fas-color: #E1C0B0;
$jumbo-button: white;
$process-icon-bg: #FAF7F1;
$process-icon1: #BADAC9;
$process-icon2: #F8D12D;
$process-icon3: #80465F;
$process-icon4: #EB6950;
$contact-button: #D8F0E3;
$date-news-color: #C0E1CF;
$period-news-color: #F3C0C7;
